<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main App</title>
</head>
<body>
    <h1>Selamat Datang di Main App</h1>
    <h2>Layanan Pemesanan</h2>
    <ul>
        <li><a href="http://127.0.0.1:5000/orders">Lihat Semua Pesanan</a></li>
        <li><a href="/create_order">Buat Pesanan Baru</a></li>
        <li><a href="/update_order">Edit Pesanan</a></li>
        <li><a href="/delete_order">Hapus Pesanan</a></li>
    </ul>
    <h2>Layanan Pelacakan</h2>
    <ul>
        <li><a href="/package">Pelacakan Paket</a></li>
    </ul>
</body>
</html>
